/* Write your CSS here */
.language-filter-button {
  padding: 10px;
  color: #000000;
  border: #000000;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-family: lobster;
  margin-right: 10px;
}
.activelanguage-filter-button {
  padding: 10px;
  color: #0284c7;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-family: lobster;
  margin-right: 10px;
  border-style: solid;
  border-color: #0284c7;
}
